In [1]:
print("Hello World")

Hello World

In [4]:
print("helllo")

helllo

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [85]:
#import libery
import pandas as pd

In [6]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [8]:
city = ['Dhaka','Sylet','Shariatpur','Mirpur']

In [9]:
df = pd.DataFrame(city)

In [10]:
df

            0
0       Dhaka
1       Sylet
2  Shariatpur
3      Mirpur

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
type(city)

list

In [13]:
row,col= df.shape

In [14]:
row

4

In [15]:
col

1

In [16]:
df

            0
0       Dhaka
1       Sylet
2  Shariatpur
3      Mirpur

In [18]:
df = pd.DataFrame(city,columns=['City in Bangladesh'])

In [19]:
df

  City in Bangladesh
0              Dhaka
1              Sylet
2         Shariatpur
3             Mirpur

In [20]:
df = pd.DataFrame(city,columns=['City in Bangladesh'],index=['c1','c2','c3','c4'])

In [21]:
df

   City in Bangladesh
c1              Dhaka
c2              Sylet
c3         Shariatpur
c4             Mirpur

In [23]:
city2 = ['Dhaka',
'Chattogram',
'Rajshahi',
'Khulna',
'Sylhet',
'Barishal',
'Rangpur',
'Comilla',
'Mymensingh',
'Gazipur']

In [26]:
df2= pd.DataFrame(zip(city,city2),columns=['city1','city2'])

In [27]:
df2

        city1       city2
0       Dhaka       Dhaka
1       Sylet  Chattogram
2  Shariatpur    Rajshahi
3      Mirpur      Khulna

In [28]:
df2.shape

(4, 2)

In [29]:
city3 = [['Los Angeles','Chicago'],['Houston','Phoenix']]

In [30]:
city3

[['Los Angeles', 'Chicago'], ['Houston', 'Phoenix']]

In [31]:
df4 = pd.DataFrame(city3)

In [32]:
df4

             0        1
0  Los Angeles  Chicago
1      Houston  Phoenix

In [34]:
df4 = pd.DataFrame(city3,columns=['State','city'])

In [35]:
df4

         State     city
0  Los Angeles  Chicago
1      Houston  Phoenix

In [37]:
dict1={
    'city1': city,
    'city2': city2
}

In [43]:
dict1

{'city1': ['Dhaka', 'Sylet', 'Shariatpur', 'Mirpur'],
 'city2': ['Dhaka',
  'Chattogram',
  'Rajshahi',
  'Khulna',
  'Sylhet',
  'Barishal',
  'Rangpur',
  'Comilla',
  'Mymensingh',
  'Gazipur']}

In [42]:
df5 = pd.DataFrame(dict1)

ValueError: All arrays must be of the same length

In [41]:
df5

NameError: name 'df5' is not defined

In [45]:
type(dict1)

dict

In [46]:
#import excel file
df = pd.read_csv('data.csv')

In [47]:
df

                                             Keywords
0                           most popular islamic book
1                          most popular islamic books
2                         most popular islamic series
3                     famous books on islamic history
4                        most important islamic books
5                      the best islamic books to read
6                                    top islamic book
7                          most popular islamic names
8                           largest islamic bookstore
9                               popular islamic books
10                          most famous islamic books
11                          famous islamic literature
12                                great islamic books
13          most famous islamic history books in urdu
14                  most famous islamic books in urdu
15                            most read islamic books
16                       best islamic knowledge books
17                     top 10 islamic books in bangla
18                        most popular books on islam
19                    top 10 books on islamic history
20                           popular islamic scholars
21                                 most popular quran
22                  recommended islamic books to read
23                          top 10 best islamic books
24                             the best islamic books
25                                  the islamic books
26                            most used islamic words
27                            most used islamic names
28                                 most popular islam
29                                    popular islamic
30                             types of islamic books
31                           most famous islamic book
32                   how many islamic books are there
33                                   2 books of islam
34                              2 holy books of islam
35  what are the two most important holy books in ...
36                                   3 books of islam
37                  3 most important mosques in islam
38                  3 most important beliefs of islam
39                 what are the 3 holy books of islam
40                                      4 islam books
41                             4 famous islamic books
42                              5 holy books of islam
43                                      5 books islam
44                   6 most authentic books of hadith
45                                  6 islamic beliefs
46                             6 main islamic beliefs
47                              7 holy books in islam
48             8 masterpieces of islamic architecture

In [50]:
df18 = pd.read_csv('business.csv')

In [61]:
df18

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7870,BDCQ.SF8RSCA,2023.06,617.507,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7871,BDCQ.SF8RSCA,2023.09,673.068,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7872,BDCQ.SF8RSCA,2023.12,511.098,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7873,BDCQ.SF8RSCA,2024.03,631.229,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7874,BDCQ.SF8RSCA,2024.06,542.409,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

In [52]:
type(df18)

pandas.core.frame.DataFrame

In [53]:
df18.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

In [55]:
df18.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
7870,BDCQ.SF8RSCA,2023.06,617.507,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7871,BDCQ.SF8RSCA,2023.09,673.068,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7872,BDCQ.SF8RSCA,2023.12,511.098,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7873,BDCQ.SF8RSCA,2024.03,631.229,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7874,BDCQ.SF8RSCA,2024.06,542.409,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

In [56]:
df18.tail(1)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
7874,BDCQ.SF8RSCA,2024.06,542.409,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

In [57]:
df18.values

array([['BDCQ.SF1AA2CA', 2016.06, 1116.386, ..., 'Current prices',
        'Unadjusted', nan],
       ['BDCQ.SF1AA2CA', 2016.09, 1070.874, ..., 'Current prices',
        'Unadjusted', nan],
       ['BDCQ.SF1AA2CA', 2016.12, 1054.408, ..., 'Current prices',
        'Unadjusted', nan],
       ...,
       ['BDCQ.SF8RSCA', 2023.12, 511.098, ..., 'Current', 'Unadjusted',
        nan],
       ['BDCQ.SF8RSCA', 2024.03, 631.229, ..., 'Current', 'Unadjusted',
        nan],
       ['BDCQ.SF8RSCA', 2024.06, 542.409, ..., 'Current', 'Unadjusted',
        nan]], dtype=object)

In [58]:
df18.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [59]:
df18.index

RangeIndex(start=0, stop=7875, step=1)

In [62]:
df18.Data_value

0       1116.386
1       1070.874
2       1054.408
3       1010.665
4       1233.700
          ...
7870     617.507
7871     673.068
7872     511.098
7873     631.229
7874     542.409
Name: Data_value, Length: 7875, dtype: float64

In [63]:
df18.Period

0       2016.06
1       2016.09
2       2016.12
3       2017.03
4       2017.06
         ...
7870    2023.06
7871    2023.09
7872    2023.12
7873    2024.03
7874    2024.06
Name: Period, Length: 7875, dtype: float64

In [64]:
df18.Series_title_4

0       Unadjusted
1       Unadjusted
2       Unadjusted
3       Unadjusted
4       Unadjusted
           ...
7870    Unadjusted
7871    Unadjusted
7872    Unadjusted
7873    Unadjusted
7874    Unadjusted
Name: Series_title_4, Length: 7875, dtype: object

In [65]:
df18[['Period','Series_title_4']].head()

    Period Series_title_4
0  2016.06     Unadjusted
1  2016.09     Unadjusted
2  2016.12     Unadjusted
3  2017.03     Unadjusted
4  2017.06     Unadjusted

In [69]:
df18['Series_title_4'].sort_values()

2627    Seasonally adjusted
1225    Seasonally adjusted
1224    Seasonally adjusted
1223    Seasonally adjusted
1222    Seasonally adjusted
               ...
4380             Unadjusted
4379             Unadjusted
4378             Unadjusted
4396             Unadjusted
7874             Unadjusted
Name: Series_title_4, Length: 7875, dtype: object

In [70]:
df18['Series_title_4'].sort_values(ascending=False)

0                Unadjusted
5274             Unadjusted
5272             Unadjusted
5271             Unadjusted
5270             Unadjusted
               ...
1222    Seasonally adjusted
1223    Seasonally adjusted
1224    Seasonally adjusted
1225    Seasonally adjusted
3917    Seasonally adjusted
Name: Series_title_4, Length: 7875, dtype: object

In [71]:
df18.sort_values('Series_title_4',ascending=True)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
2627,BDCQ.SF1JJ1CS,2021.06,4041.381,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Information Media and Telecommunications,Current prices,Seasonally adjusted,NaN
1225,BDCQ.SF1CC8CS,2017.06,2926.870,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),"Transport Equipment, Machinery and Equipment M...",Current prices,Seasonally adjusted,NaN
1224,BDCQ.SF1CC8CS,2017.03,2825.245,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),"Transport Equipment, Machinery and Equipment M...",Current prices,Seasonally adjusted,NaN
1223,BDCQ.SF1CC8CS,2016.12,2788.521,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),"Transport Equipment, Machinery and Equipment M...",Current prices,Seasonally adjusted,NaN
1222,BDCQ.SF1CC8CS,2016.09,2778.656,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),"Transport Equipment, Machinery and Equipment M...",Current prices,Seasonally adjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,BDCQ.SF2CC8CA,2022.06,2567.827,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Purchases and operating expenditure,"Transport Equipment, Machinery and Equipment M...",Current prices,Unadjusted,NaN
4379,BDCQ.SF2CC8CA,2022.03,2285.257,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Purchases and operating expenditure,"Transport Equipment, Machinery and Equipment M...",Current prices,Unadjusted,NaN
4378,BDCQ.SF2CC8CA,2021.12,2459.626,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Purchases and operating expenditure,"Transport Equipment, Machinery and Equipment M...",Current prices,Unadjusted,NaN
4396,BDCQ.SF2CC9CA,2018.03,295.911,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Purchases and operating expenditure,Furniture and Other Manufacturing,Current prices,Unadjusted,NaN
7874,BDCQ.SF8RSCA,2024.06,542.409,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

In [86]:
df18.describe()
sns.heatmap(df18.corr(),annot=True)

ValueError: could not convert string to float: 'BDCQ.SF1AA2CA'

Requirement already satisfied: seaborn in c:\users\ibrahim khan\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [82]:
df18.corr()

ValueError: could not convert string to float: 'BDCQ.SF1AA2CA'

Requirement already satisfied: seaborn in c:\users\ibrahim khan\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ibrahim khan\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [79]:
print(sns.__version__)

0.13.2

In [84]:
df18.describe()
import seaborn as sns
sns.heatmap(df18.corr(),annot=True)

ValueError: could not convert string to float: 'BDCQ.SF1AA2CA'

In [ ]:
df18[]